.container{
    width: 1220px;
    margin: 50px auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
}
.sideWrapper{
    display: flex;
}
.cartEmpty{
    height: calc(100vh - 216px - 54px);
}
.emptyWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgContainer{
    width: 100px;
    height: 100px;
    position: relative;
}
.left{
    flex: 2;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.right{
    flex: 1;
}
.headerText{
    font-size: 48px;
    font-weight: 900;
    color: #333;
}
.table{
    width: 100%;
    border-spacing: 20px;
}
.table .thead .trHead{
    border-bottom: 1px solid gray;
}
.tdInfo{
    display: flex;
    flex-direction: column;
}
.name{
    /* color: teal; */
    font-weight: 700;
    font-size: 18px;
}
.size{
    color: gray;
}
.color{
    color: gray;
}
.sizeColorCont{
    font-size: 14px;

}
.addProductsBtn{
    background-color: teal;
    padding: 10px 15px;
    color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.total{
    font-weight: bold;
    font-size: 18px;
}
.deleteIcon{
    cursor: pointer;
}
.wrapper{
    width: 90%;
    max-height: 300px;
    background-color: var(--terciary-color);
    padding: 50px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.title{
    font-weight: 900;
    text-align: center;
}
.totalTextTitle{
    margin-right: 15px;
}
.table .tFooter .trFooter{
    border-top: 1px solid #000;
}

.table .tbody .trBody .tdBody:nth-child(2){
    text-align: left;
}
.table .tbody .trBody .tdBody{
    text-align: center;
}
.qtyWrapper{
    align-items: center;
    justify-content: center;
}
.qtyArrow{
    cursor: pointer;
}
.button{
    height: 30px;
    border: none;
    color: teal;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}
.qtyContButton{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    border: .5px solid lightgray;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.qtyButton{
    cursor: pointer;
    background-color: transparent;
    border: none;
}
.deleteButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.buttonsCont{
    display: flex;
    justify-content: space-between;
    padding: 30px;
    margin-top: 10px;
}
.continueShoppingBtn{
    border: 1px  solid teal;
    padding: 10px 15px;
    cursor: pointer;
    background-color: transparent;
    color: gray;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.continueShoppingBtn:hover{
    background-color: teal;
    color: white;
}
.clearCartButton{
    background-color: transparent;
    border: 1px  solid red;
    padding: 10px 15px;
    cursor: pointer;
    color: gray;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
.clearCartButton:hover{
    background-color: red;
    color: white;
}