.container{
  width: 1220px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card{
  width: 30%;
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.cardTexts{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardTitle{
  margin: 0;
  font-weight: 700;
  font-size: 22px;
}
.cardCat{
  margin: 0;
  color: gray;
  margin-top: 20px;
}
.cardPrice{
  color: var(--secundary-color);
}
.cardButton{
  border: none;
  background-color: teal;
  color: white;
  padding: 10px 0;
  /* height: 40px; */
  width: 80%;
  margin-bottom: 30px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}